
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>InsertUserName</title>
</head>
<body>
    <form action="@Url.Action("Index")" method="post">
        <input type="text" placeholder="Insert user name" name="userName" />
        <input type="submit" value="Eńter" />
    </form>
</body>
</html>
