@model portfolio2.Models.Session

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (ViewData["Message"] != null)
{
    <h3 class="text-danger" style="text-align:center;">@ViewData["Message"]</h3>
}

<h4 class="PageTitle">Create Session</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SessionDate" class="control-label"></label>
                <input asp-for="SessionDate" class="form-control" />
                <span asp-validation-for="SessionDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hours" class="control-label"></label>
                <input asp-for="Hours" class="form-control" />
                <span asp-validation-for="Hours" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                    <label asp-for="Participants" class="control-label"></label>
                    <input asp-for="Participants" class="form-control" />
                    <span asp-validation-for="Participants" class="text-danger"></span>
                </div>*@
            @*<div class="form-group">
                    <label asp-for="StudentID" class="control-label"></label>
                    <input asp-for="StudentID" class="form-control" />
                    <span asp-validation-for="StudentID" class="text-danger"></span>
                </div>*@
            <div class="form-group">
                <label asp-for="LocationID" class="control-label"></label>
                <select asp-for="LocationID"
                        asp-items="@ViewData["LocationList"] as List<SelectListItem>"></select>
            </div>
            <div class="form-group">
                <label asp-for="CategoryID" class="control-label"></label>
                <select asp-for="CategoryID"
                        asp-items="@ViewData["CategoryList"] as List<SelectListItem>"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

