
@{
    ViewData["Title"] = "SignUp";
    if (Context.Session.GetInt32("StudentID") != null)
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_SignInLayout.cshtml";
    }
}

<img src="~/images/Icons/success.png" style="max-width:20%; height:auto; display:block; margin-right:auto; margin-left: auto;">
<div style="text-align: center;">
    <h1>You have successfully signed up!</h1>
    <h4><a href='javascript:history.go(-1)'>Go Back to Previous Page</a></h4>
    <h6><a asp-controller="Session" asp-action="SessionJoined">View Sessions You Have Signed Up For</a></h6>
</div>