@model portfolio2.Models.Rating

@{
    ViewData["Title"] = "StudentReview";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var getlist = ViewBag.StudentDetails as portfolio2.Models.StudentDetails;
}

<h2>StudentReview</h2>

<h4>Rating</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="StudentReview" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Name</label>
                <input disabled readonly value="@getlist.Name" class="form-control"/>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Stars" class="control-label"></label>
                <select asp-for="Stars" asp-items="@ViewData["Stars"] as List<SelectListItem>" class="form-control"></select>
                <span asp-validation-for="Stars" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="SessionID" readonly hidden class="form-control" value="@TempData["SessionID"]" />
            </div>
            <div class="form-group">
                <input type="submit" value="Post" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

