@model portfolio2.Models.SessionPhoto

@{
    ViewData["Title"] = "UploadSessionPhoto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>UploadSessionPhoto</h2>

<h4>SessionPhoto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="UploadSessionPhoto" enctype="multipart/form-data">
            <input asp-for="SessionID" class="form-control" readonly hidden />
            <div class="form-group">
                <input asp-for="SessionDate" class="form-control" readonly hidden/>
            </div>
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" readonly />
            </div>
            <div class="form-group">
                <input asp-for="Description" class="form-control" readonly hidden />
            </div>
            <div class="form-group">
                <input asp-for="Hours" class="form-control" readonly hidden />
            </div>
            <div class="form-group">
                <input asp-for="Participants" class="form-control" readonly hidden />
            </div>
            <div class="form-group">
                <input asp-for="Status" class="form-control" readonly hidden />
            </div>
            <div class="form-group">
                <label asp-for="Photo" class="control-label"></label>
                <input asp-for="Photo" class="form-control" hidden readonly />
                <div><img src="~/images/Sessions/@Model.Photo" /></div>
            </div>
            <div class="form-group">
                <label asp-for="FileToUpload">New Photo (jpg format)</label>
                <input asp-for="FileToUpload" accept="image/jpeg" />
            </div>
            <div class="form-group">
                <input asp-for="StudentName" class="form-control" hidden readonly />
            </div>
            <div class="form-group">
                <input asp-for="LocationName" class="form-control" hidden readonly />
            </div>
            <div class="form-group">
                <input asp-for="CategoryName" class="form-control" hidden readonly/>
            </div>
            <div class="form-group">
                <input type="submit" value="Upload Photo" class="btn btn-warning" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="MySession" class="btn btn-secondary">Skip Uploading</a>
</div>

