@model IEnumerable<portfolio2.Models.RequestViewModel>
@{
    ViewData["Title"] = "My Requests";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="table">
    <div class="container">
        <div class="card text-center">
            <h5 class="card-header">All Requests</h5>
            <div class="card-body">
                <partial name="~/Views/Request/_ViewRequests.cshtml" model="@Model" />
            </div>
        </div>
    </div>
</div>