@{
    ViewData["Title"] = "Error";
    if (Context.Session.GetInt32("StudentID") != null)
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_SignInLayout.cshtml";
    }
}

<div class="container errorpage">

    <img src="~/images/Icons/error.png" style="max-width:20%; height:auto; display:block; margin-right:auto; margin-left: auto;">
    <div style="text-align: center;">
        <h4>Something went wrong... Please try navigating somewhere else!</h4>
        <p></p>
        <h5>This could have happened because:</h5>
        <h5>You are not logged in</h5>
        <h5>You tried to access a page that you do not have permission to view</h5>
        <p></p>
        <h4><a asp-controller="Session" asp-action="Index">Go back to homepage &#8250;</a></h4>

    </div>

</div>