@*LOG OUT MAIN PAGE*@


@{
    ViewData["Title"] = "LinkUP Homepage";
    Layout = "~/Views/Shared/_SignInLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <!-- Unicode character encoding - multi-language compatibility -->
    <meta charset="utf-8">

    <!-- Set the initial view zooming scale for mobile device -->
    <meta name="viewport" content="width = device-width,
 initial-scale = 1" />

    <title>LinkUp</title>

    <!-- Reference to customized styling for this website -->
    <link rel="stylesheet" type="text/css" href="~/css/Site.css">

</head>
<body>


    <div class="container" id="mainContainer">
        <!-- 1st row -->
        <div class="flex-container">
            @*Flexbox for student login
                <div>
                    <fieldset class="loginFieldset">
                        <legend>Login</legend>
                        <p>
                            <a href="~/Home/StudentLogin" class="myButton">Login With Your Microsoft Account</a>
                        </p>
                    </fieldset>
                </div>*@
        </div>
        <!-- 2nd row -->
        <div>
            <div style="text-align: center;">
                <h1>Xtra help. Xtra easy.</h1>
                <h2>LinkUp is a matchmaking service that connects NP students with each other for the purposes of tutoring</h2>
                <p>
                    <img id="imgLogo" src="~/images/hero.jpg"
                         style="width: 100%" />
                </p>

                <h1>For every topic, a tutor.</h1>
                <h2>Check out the broad range of topics our student volunteer tutors can teach</h2>
                <main class="cards">
                    <article class="card">
                        <img src="~/images/Categories/academic.jpg" alt="Sample photo">
                        <div class="text">
                            <div class="text">
                                <h3>Academics</h3>
                                <p>Meet students that are more academically driven and learn a thing or two</p>
                            </div>
                            <button onclick="window.location.href = 'https://youtube.com';">View more</button>
                        </div>
                    </article>
                    <article class="card">
                        <img src="~/images/Categories/artsandcraft.jpg" alt="Sample photo">
                        <div class="text">
                            <div class="text">
                                <h3>Arts and Crafts</h3>
                                <p>Meet creative students to widen your creativity and learn how to create different masterpieces</p>
                            </div>
                            <button onclick="window.location.href = 'https://youtube.com';">View more</button>
                        </div>
                    </article>
                    <article class="card">
                        <img src="~/images/Categories/Career.jpg" alt="Sample photo">
                        <div class="text">
                            <div class="text">
                                <h3>Career</h3>
                                <p>Meet students that are keen in entrepreneurship and potentially start a business together</p>
                            </div>
                            <button onclick="window.location.href = 'https://youtube.com';">View more</button>
                        </div>
                    </article>
                    <article class="card">
                        <img src="~/images/Categories/Languages.jpg" alt="Sample photo">
                        <div class="text">
                            <div class="text">
                                <h3>Languages</h3>
                                <p>Meet multilingual individuals and learn how to converse in a different language</p>
                            </div>
                            <button onclick="window.location.href = 'https://youtube.com';">View more</button>
                        </div>
                    </article>
                    <article class="card">
                        <img src="~/images/Categories/lifeskills.jpg" alt="Sample photo">
                        <div class="text">
                            <div class="text">
                                <h3>Life Skills</h3>
                                <p>Meet students and learn essential life skills</p>
                            </div>
                            <button onclick="window.location.href = 'https://youtube.com';">View more</button>
                        </div>
                    </article>
                    <article class="card">
                        <img src="~/images/Categories/Music.jpg" alt="Sample photo">
                        <div class="text">
                            <div class="text">
                                <h3>Music</h3>
                                <p>Meet students with musical talents and string along</p>
                            </div>
                            <button onclick="window.location.href = 'https://youtube.com';">View more</button>
                        </div>
                    </article>
                    <article class="card">
                        <img src="~/images/Categories/sportsandfitness.jpg" alt="Sample photo">
                        <div class="text">
                            <div class="text">
                                <h3>Sports</h3>
                                <p>Meet gym rats and athletes, learn a new sport and stay active</p>
                            </div>
                            <button onclick="window.location.href = 'https://youtube.com';">View more</button>
                        </div>
                    </article>
                    <article class="card">
                        <img src="~/images/Categories/Technology.jpg" alt="Sample photo">
                        <div class="text">
                            <div class="text">
                                <h3>Technology</h3>
                                <p>Meet tech savvy students that are proficient programmers and software developers</p>
                            </div>
                            <button onclick="window.location.href = 'https://youtube.com';">View more</button>
                        </div>
                    </article>
                    <article class="card">
                        <img src="~/images/Categories/gaming.jpg" alt="Sample photo">
                        <div class="text">
                            <div class="text">
                                <h3>Gaming</h3>
                                <p>Meet students with a passion for gaming and learn new strategies and mechanics for various games</p>
                            </div>
                            <button onclick="window.location.href = 'https://youtube.com';">View more</button>
                        </div>
                    </article>
                </main>

            </div>

        </div>
    </div>

    <style>
        .cards {
            display: flex;
            flex-wrap: wrap;
            align-items: stretch;
        }

        .card {
            display: inline-flex;
            flex-direction: column;
            flex: 0 0 200px;
            margin: 10px;
            border: 1px solid #ccc;
            box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.3);
        }

            .card img {
                max-width: 100%;
            }

            .card > .text {
                padding: 0 20px 20px;
                flex-grow: 3;
                display: flex;
                flex-direction: column;
            }

            .card > .text > .text {
                flex-grow: 2;
            }

                .card .text > button {
                    background: gray;
                    border: 0;
                    color: white;
                    padding: 10px;
                    width: 100%;
                }

.button {
    transform: translateY(-100%);
    display: inline-block;
}
    </style>

</body>
</html>
