
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <!-- Unicode character encoding - multi-language compatibility -->
    <meta charset="utf-8">

    <!-- Set the initial view zooming scale for mobile device -->
    <meta name="viewport" content="width = device-width,
 initial-scale = 1" />

    <title>LinkUp</title>

    <!-- Reference to customized styling for this website -->
    <link rel="stylesheet" type="text/css" href="~/css/Site.css">

</head>
<body>

    <div class="container" id="mainContainer">
        <!-- 1st row -->
        <div class="flex-container">
            <!-- Flexbox for logo, auto-expand in the container -->
            <div style="flex:auto;">
                <img id="imgNPLogo" src="~/images/logo.png" style="width: 25%" />
            </div>
            <!-- Flexbox for staff login -->
            @*<div>
                    <form method="post" action="~/Home/Login">
                        <fieldset class="loginFieldset">
                            <legend>Staff Login</legend>
                            <label for="txtLoginID">Login ID:</label>
                            <input type="email" name="txtLoginID"
                                   id="txtLoginID" required /><br />
                            <label for="txtPassword">Password:</label>
                            <input type="password" name="txtPassword"
                                   id="txtPassword" style="width:100px"
                                   required />
                            <input type="submit" id="btnStaffLogin"
                                   class="myButton" value="Login" />
                            <br />
                            <span style="color:red;">@TempData["Message"]</span>
                        </fieldset>
                    </form>
                </div>*@
            <!-- Flexbox for student login -->
            <div>
                <fieldset class="loginFieldset">
                    <legend>Login</legend>
                    <p>
                        <a href="~/Home/StudentLogin" class="myButton">Login With Your Microsoft Account</a>
                    </p>
                </fieldset>
            </div>
        </div>
        <!-- 2nd row -->
        <div>
            <div style="text-align: center;">
                <h1>Xtra help. Xtra easy.</h1>
                <p>
                    <img id="imgLogo" src="~/images/hero.jpg"
                         style="width: 100%" />
                </p>
                <h2>LinkUp is a matchmaking service that connects NP students with each other for the purposes of tutoring.</h2>
                @*<img class="mySlides" src="~/images/coding.jpg" style="width: 100%">
                    <img class="mySlides" src="~/images/art.jpg" style="width: 100%">
                    <img class="mySlides" src="~/images/music.png" style="width: 100%">
                    <img class="mySlides" src="~/images/sports.jpg" style="width: 100%">
                    <img class="mySlides" src="~/images/languages.jpg" style="width: 100%">
                    <img class="mySlides" src="~/images/lifeskills.png" style="width: 100%">
                    <img class="mySlides" src="~/images/career.png" style="width: 100%">
                    <img class="mySlides" src="~/images/acads.jpeg" style="width: 100%">*@
                <br />
            </div>



        </div>
    </div>

    @*<script>
            var myIndex = 0;
            carousel();

            function carousel() {
                var i;
                var x = document.getElementsByClassName("mySlides");
                for (i = 0; i < x.length; i++) {
                    x[i].style.display = "none";
                }
                myIndex++;
                if (myIndex > x.length) { myIndex = 1 }
                x[myIndex - 1].style.display = "block";
                setTimeout(carousel, 2000); // Change image every 2 seconds
            }
        </script>*@
</body>
</html>
