@*LOG OUT MAIN PAGE*@


@{
    ViewData["Title"] = "LinkUP Homepage";
    Layout = "~/Views/Shared/_SignInLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <!-- Unicode character encoding - multi-language compatibility -->
    <meta charset="utf-8">

    <!-- Set the initial view zooming scale for mobile device -->
    <meta name="viewport" content="width = device-width,
 initial-scale = 1" />

    <title>LinkUp</title>

    <!-- Reference to customized styling for this website -->
    <link rel="stylesheet" type="text/css" href="~/css/Site.css">

</head>
<body>


    <div class="container" id="mainContainer">
        <!-- 1st row -->
        <div class="flex-container">
             @*Flexbox for student login 
            <div>
                <fieldset class="loginFieldset">
                    <legend>Login</legend>
                    <p>
                        <a href="~/Home/StudentLogin" class="myButton">Login With Your Microsoft Account</a>
                    </p>
                </fieldset>
            </div>*@
        </div>
        <!-- 2nd row -->
        <div>
            <div style="text-align: center;">
                <h1>Xtra help. Xtra easy.</h1>
                <h2>LinkUp is a matchmaking service that connects NP students with each other for the purposes of tutoring.</h2>
                <p>
                    <img id="imgLogo" src="~/images/hero.jpg"
                         style="width: 100%" />
                </p>
                <br />
            <h1>Imagine having a  tutor for every topic under the sun. Now stop imagining.</h1>
            </div>

        </div>
    </div>

</body>
</html>
