@*LOG OUT MAIN PAGE*@

@model IEnumerable<portfolio2.Models.Category>

@{
    ViewData["Title"] = "LinkUP Homepage";
    Layout = "~/Views/Shared/_SignInLayout.cshtml";
}




<section class="intro">
    <div class="container text-center">

        <h1 class="text-uppercase">Xtra help. Xtra easy.</h1>
        <p class="font-weight-light">For every topic, a tutor. Check out the broad range of topics our student tutors can teach!</p>
        <p>
            <a class="btn btn-primary btn-lg text-uppercase" asp-controller="Session" role="button">View all Sessions</a>

        </p>

    </div>

</section>


<section class="categories">



    <div class="container text-center">

        <h1 class="text-uppercase">Categories</h1>
        <hr width="20%" />
        <div class="gallery-block cards-gallery">
            @{int i = 1; }
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-md-6 col-lg-4">
                        <div class="card border-0 transform-on-hover">
                            <a class="lightbox" asp-route-id="@i" asp-controller="Category" asp-action="Filtered"><img src="~/images/Categories/@Html.DisplayFor(modelItem => item.CategoryPhoto)" class="card-img-top" /></a>
                            <div class="card-body">
                                <h6>@Html.DisplayFor(modelItem => item.CategoryName)</h6>
                                <p class="text-muted card-text">@Html.DisplayFor(modelItem => item.Description)</p>
                            </div>
                        </div>
                    </div>
                    i++;
                }
            </div>
        </div>

    </div>

</section>


<section class="about">
    <div class="container">

        <!-- About Section Heading -->
        <h2 class="page-section-heading text-center text-uppercase">About</h2>

        <hr width="20%"/>

        <div class="row">
            <div class="col-lg-4 ml-auto">
                <p class="lead">LinkUp is a matchmaking service that connects NP students with each other for the purposes of tutoring. In LinkUp, we believe that for every topic, there will be a tutor.</p>
            </div>
            <div class="col-lg-4 mr-auto">
                <p class="lead">LinkUp is just as rewarding for volunteers as it is for learners. Accumulate points whenever you volunteer and exchange them for attractive rewards! Don't see what you want to learn yet? Go ahead and request for a topic!</p>
            </div>
        </div>


        <div class="text-center mt-4">
            <a class="btn btn-primary btn-lg text-uppercase" href="~/Home/StudentLogin" role="button">
                Sign Up Now!
            </a>
        </div>

    </div>

</section>


