@model IEnumerable<portfolio2.Models.SessionViewModel>

@{
    ViewData["Title"] = "Session";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4 class="PageTitle">View All Session</h4>

<partial name="~/Views/Home/_ViewSession.cshtml" model="@Model" />
