h1 {
    font-family : Arial;
    font-size: xx-large;
}

h2 {
    font-family: Arial;
    font-size: large;
}

body {
    /*font-family : Arial;*/
    font-size : 14px;
    flex-direction:column;
    display:flex;
    height:100vh;
}

body, html {
    width: 100%;
    overflow-x: hidden;
}

.signup {
    text-align: center;
    flex-grow: 2;
    margin-top: 6%;
}

body > div.content {
    margin: 72.06px 0 0 0;
    flex-grow: 1;
    /*padding-top: 50px;*/
}

.PageTitle {
    text-align:center;
    font-weight: bold;
    color: brown;
}

.FormContent {
    padding: 10px;
    margin: auto;
    width: 95%;
}

.col-form-label {
    text-align: left;
    font-weight: bold;
}

#mainContainer {
    margin: auto;
    padding: 4px;
}

fieldset {
    border: 2px solid darkblue;
    border-radius: 10px;
    padding: 5px;
    background-color: antiquewhite;
}

fieldset legend{
    padding: 4px;
    font-size: 16px;
    font-weight: bold;
    color: brown;
    width: auto;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.loginFieldset {
    min-height: 130px;
    margin-left: 4px;
    margin-right: 0px;
}

.loginFieldset label {
    display: inline-block;
    padding: 6px;
    width: 70px;
}

.myButton {
    border: 2px solid dodgerblue;
    border-radius: 5px;
    padding: 5px;
    background-color: dodgerblue;
    color: white;
    font-weight: bold;
    text-align: center;
    text-decoration: none
}

@media screen and (max-width: 918px) {
   .loginFieldset {
        min-height: 0px;
        width: 280px;
    }
}

@media screen and (max-width: 772px) {
    .flex-container {
        flex-direction: column;
    }

    .loginFieldset {
        min-height: 0px;
        width: 95%;
    }

    #mainContainer {
        padding: 0;
        border: none;
    }
}


