/* NAVBAR */

.navbar{
  background-color: #563d7c;
}

.navbar-dark .navbar-nav .nav-link {
  color: #cbbde2;
  font-size: 18px;
}

.loggedout li{
  padding-right: 10px;
}


.loginbtn .btn{
  font-size: 18px;
  border-radius: 5px;
  border: 2px solid #ffe484;
  font-weight: 500;
  color: #ffe484;
}

.loginbtn .btn:hover{
  background-color: #ffe484;
  color: #563d7c;
}

.avatar{
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 0;
}

.avatar img{
  vertical-align: middle;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.navbar.sticky-top {
    top: 0;
    position: fixed;
    width: 100%;
}

.container {
    margin-top: 72.06px;
}