
.navbar {
    background-color: #9395D3;
    font-size: 20px;
}

.navbar a{
  color: #FBF9FF !important;
}

.navbar .dropdown-menu a{
  color: #44474a !important;
}

.navbar li{
  padding-left:5px;
}


.navbar .login{
  padding-top: 5px;
  padding-right: 5px;
  padding-left: 20px;
}
