/* NAVBAR */

.navbar{
  background-color: #563d7c;
}

.navbar-dark .navbar-nav .nav-link {
  color: #cbbde2;
  font-size: 18px;
}

.loggedout li{
  padding-right: 10px;
}


.loginbtn .btn{
  font-size: 18px;
  border-radius: 5px;
  border: 2px solid #ffe484;
  font-weight: 500;
  color: #ffe484;
}

.loginbtn .btn:hover{
  background-color: #ffe484;
  color: #563d7c;
}

.avatar{
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 0;
}

.avatar img{
  vertical-align: middle;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.navbar.sticky-top {
    top: 0;
    position: fixed;
    width: 100%;
}

.container {
    margin-top: 72.06px;
}



/* MAINPAGE */


body{
  background-color: #FBF9FF;
}

.search {
  background: #B3B7EE;
  padding-top: 60px;
  padding-bottom: 60px;


}

.search img{
  width: 350px;
  padding-bottom: 20px;
}


.explore{
  padding-top: 50px;
  padding-bottom: 50px;
}

.sessions{
  padding-bottom: 50px;
}

.sessions img{
    height:170px;
}



/*PROFILE PAGE*/


.emp-profile{

  border: 2px solid #A2A3BB;
  padding: 3%;
  margin-top: 2.5%;
  margin-bottom: 2%;
  border-radius: 0.5rem;
  background: #fff;

}
.profile-img{
    text-align: center;
}
.profile-img img{
    width: 70%;
    height: 100%;
}



.profile-head h5{
    color: #333;
}
.profile-head h6{
    color: #0062cc;
}

.proile-rating{
    font-size: 12px;
    color: #818182;
    margin-top: 5%;
}
.proile-rating span{
    color: #495057;
    font-size: 15px;
    font-weight: 600;
}
.profile-head .nav-tabs{
    margin-bottom:5%;
}
.profile-head .nav-tabs .nav-link{
    font-weight:600;
    border: none;
}
.profile-head .nav-tabs .nav-link.active{
    border: none;
    border-bottom:2px solid #0062cc;
}
.profile-work{
    padding: 14%;
    margin-top: 10px;
}
.profile-work p{
    font-size: 12px;
    color: #818182;
    font-weight: 600;
}
.profile-work a{
    text-decoration: none;
    color: #495057;
    font-weight: 600;
    font-size: 14px;
}
.profile-work ul{
    list-style: none;
}
.profile-tab label{
    font-weight: 600;
}
.profile-tab p{
    font-weight: 600;
    color: #0062cc;
}
 footer{
     background-color: #563d7c;
 }

 footer .footer-copyright{
     color: white;
 }




.makerequest {
    padding-bottom: 9.5rem !important;
}

.makesession {
    padding-bottom: 6.5rem !important;
}




section.title {
    background-color: #ccccff;
    padding-top: 1%;
    padding-bottom: 2%;
}

.table{
    padding-bottom:7%
}



/*VIEW ALL REQUESTS/ MY SESSIONS*/

.container.myrequestsheader {
    margin-top: 30px;
}


.container.viewallrequests {
    margin-top: 30px;
}