@*LOGGED IN LAYOUT*@

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="~/css/styles.css">
    @*Reference to Bootstrap CSS, Javascript/JQuery*@
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <script src="~/js/jquery-3.3.1.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script> <!-- Reference to customized styling for this website -->
    <script src="~/js/baguetteBox.min.js"></script>

    <link rel="stylesheet" type="text/css" href="~/css/styles.css">

    <link rel="stylesheet" type="text/css" href="~/css/gallerystyles.css" />
    <link rel="stylesheet" type="text/css" href="~/css/Site.css">

    <title>LinkUp</title>
</head>

<body>
    @await Html.PartialAsync("_Menu.cshtml")

    <div class="container">
        @RenderBody()
    </div>

        <!-- 4th row -->
    <div class="row">
        <div class="col-sm-12" style="text-align: right">
            <hr />
            <footer>
                <div class="footer-copyright text-center py-3">
                    Copyright &copy;@DateTime.Today.Year
                    <a asp-controller="Session" asp-action="Index"> LinkUp</a> - All rights reserved
                </div>
            </footer>
        </div>
    </div>

</body>
</html>