@*LOGGED IN NAVBAR*@

<nav class="navbar navbar-dark navbar-expand-sm sticky-top">
    <a class="navbar-brand" asp-controller="Session" asp-action="Index"><img src="~/images/logo.png" alt="LinkUp logo" width="120"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse loggedin" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Sessions
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" asp-controller="Session" asp-action="Index">All Sessions</a>
                    <a class="dropdown-item" asp-controller="Session" asp-action="MySession">My Sessions</a>
                    <a class="dropdown-item" asp-controller="Session" asp-action="SessionJoined">Sessions Joined</a>
                    <a class="dropdown-item" asp-controller="Session" asp-action="Create">Create Session</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Requests
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="~/Student/AllRequests">View All Requests</a>
                    <a class="dropdown-item" href="~/Student/MyRequests">My Requests</a>
                    <a class="dropdown-item" href="~/Student/MakeRequest">Create Requests</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Messages</a>
            </li>
            @{
                string userId = "Anonymous"; string userRole = "Unknown";
                if (Context.Session.GetString("Role") != null) { userRole = Context.Session.GetString("Role"); }
                if (Context.Session.GetString("LoginID") != null)
                {
                    userId = Context.Session.GetString("LoginID");
                }
            }
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle avatar" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    @if (Context.Session.GetString("Photo") != null)
                    {
                        string imageFileName = Context.Session.GetString("Photo");
                        <img src="~/images/Profilepictures/@imageFileName" alt="Avatar">
                    }
                    else
                    {
                        <img src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/fox.jpg" alt="Avatar">
                    }
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                    <p style="padding:2px 15px;">
                        <span style="font-weight:bold">@userId</span>&nbsp;
                        (@Context.Session.GetString("StudentNumber"))
                    </p>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" asp-controller="Student" asp-action="Details">Profile</a>
                    <a class="dropdown-item" href="#">Leaderboard</a>
                    <a class="dropdown-item" href="~/Home/LogOut">Sign Out</a>
                </div>

            </li>

        </ul>
    </div>

</nav>

