@*LOGGED OUT NAVBAR*@

<nav class="navbar navbar-dark navbar-expand-sm sticky-top">
    <a class="navbar-brand" asp-controller="Home" asp-action="Index"><img src="~/images/logo.png" alt="LinkUp logo" width="120"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse loggedout" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">

            <li class="nav-item viewsession">
                <a class="nav-link" asp-controller="Session" asp-action="Index">View Sessions</a>
            </li>

            <li class="nav-item viewsession">
                <a class="nav-link" asp-controller="Student" asp-action="StudentLeaderboard">Leaderboard</a>
            </li>

            <li class="nav-item loginbtn">
                <a href="~/Home/StudentLogin" class="btn" role="button">Sign In</a>
            </li>

        </ul>
    </div>

</nav>