
@{
    ViewData["Title"] = "DeleteRedirect";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Ok bro you just posted cringe</h2>
<h3>You can't delete a session that is happening in 2 hours</h3>
<h4>ben help me make this prettier please</h4>
<h4><a href='javascript:history.go(-1)'>Go Back to Previous Page</a></h4>