
@{
    ViewData["Title"] = "RequestRedirect";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Ok bro you just posted cringe</h2>
<h3>You have either tried to sign up for your own requests,joined a session that is already full, or you are making too many requests (3 at max)</h3>
<h4>ben help me make this prettier please</h4>
<h4><a href='javascript:history.go(-1)'>Go Back to Previous Page</a></h4>