@model portfolio2.Models.StudentDetails

@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container py-3">
    @if (ViewData["Message"] != null)
    {
        <h3 class="text-danger" style="text-align:center;">@ViewData["Message"]</h3>
    }
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <span class="anchor" id="formUserEdit"></span>
            <div class="card card-outline-secondary">
                <div class="card-header text-center">
                    <h3 class="mb-0">Update Profile</h3>
                </div>
                <div class="card-body">
                    <form asp-action="Update" class="form" role="form" autocomplete="off">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group row">
                            <label asp-for="Name" class="col-lg-3 col-form-label form-control-label">Name</label>
                            <div class="col-lg-9">
                                <input asp-for="Name" class="form-control" readonly />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="Year" class="col-lg-3 col-form-label form-control-label">Year</label>
                            <div class="col-lg-9">
                                <input asp-for="Year" class="form-control" />
                                <span asp-validation-for="Year" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="StudentNumber" class="col-lg-3 col-form-label form-control-label">Student Number</label>
                            <div class="col-lg-9">
                                <input asp-for="StudentNumber" class="form-control" readonly />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="Photo" class="col-lg-3 col-form-label form-control-label">Photo</label>
                            <div class="col-lg-9">
                                @if (Context.Session.GetString("Photo") != null)
                                {
                                    <img src="~/images/Profilepictures/@(Context.Session.GetString("Photo"))" width="300" class="border border-secondary rounded">
                                }
                                else
                                {
                                    <img src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/fox.jpg" width="300" class="border border-secondary rounded">
                                }

                                <p></p>
                                <a class="btn btn btn-link btn-sm" asp-controller="Student" asp-action="Photo">Upload Profile Photo</a>
                            </div>
                            <input asp-for="Photo" class="form-control" readonly hidden />
                        </div>
                        <div class="form-group row">
                            <label asp-for="PhoneNo" class="col-lg-3 col-form-label form-control-label">Phone Number</label>
                            <div class="col-lg-9">
                                <input asp-for="PhoneNo" class="form-control" />
                                <span asp-validation-for="PhoneNo" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="Interest" class="col-lg-3 col-form-label form-control-label">Interest</label>
                            <div class="col-lg-9">
                                <input asp-for="Interest" class="form-control" />
                                <span asp-validation-for="Interest" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="ExternalLink" class="col-lg-3 col-form-label form-control-label">External Link</label>
                            <div class="col-lg-9">
                                <input asp-for="ExternalLink" class="form-control" />
                                <span asp-validation-for="ExternalLink" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="Description" class="col-lg-3 col-form-label form-control-label">Description</label>
                            <div class="col-lg-9">
                                <textarea asp-for="Description" class="form-control" rows="4"></textarea>
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="Points" class="col-lg-3 col-form-label form-control-label">Points</label>
                            <div class="col-lg-9">
                                <input asp-for="Points" class="form-control" readonly />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label"></label>
                            <div class="col-lg-9">
                                <a href='javascript:history.go(-1)' class="btn btn-secondary">Back</a>
                                <input type="Submit" class="btn btn-primary" value="Save Changes">

                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>